
#aboutStyle {
    display: block;  
    text-align: center;
    justify-content: center;
    color:#fcebcb;
    padding-left: 20%;
    padding-right: 20%; 
    margin-top: 15%;
    font-family: 'Do Hyeon', sans-serif;
    font-size: large;
}