div {
    margin-top: 20px;
}

div i {
    color: white;
    padding: 10px;
}

div i {
    list-style: none;
    margin: 0 15px;
  }
  
  div i {
    position: relative; 
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 30px;
    color: #666;
    transition: .5s;
  }
  
   div i::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
  } 
  
  div i:hover {
    color: #ffee10;
    box-shadow: 0 0 5px #ffee10;
    text-shadow: 0 0 5px #ffee10;
  }
  
  
  
  