#name{
    font-family: 'Bungee Shade', cursive;
    color: seashell;
    font-size: 275%;
    margin-left: 10px;
}

#hov{
    padding-right: 10px;
    font-size: 23px;
    text-decoration: none;
}
#hov{
    padding: .5em .8em;
    position: relative;
    text-decoration: none;
    font-size: 20px;
  }
  
#hov::before,
#hov::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
  }
#hov::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid #abecfc;
    border-right: 3px solid #31cad4;
    transform: translate(-100%, 50%);
  }
#hov:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid #abecfc;
    border-left: 3px solid #31cad4;
    transform: translate(100%, -50%)
  }
  
#hov:hover:before,
#hov:hover:after{
    transform: translate(0,0);
    opacity: 1;
  }
#hov:hover {
    color: #89a8ff;
  }

  @media screen and (max-width: 732px){

    header {
      width: 100%;
      display: block;  
      text-align: center;
      justify-content: center;
      
    }

    #hov {
        font-size: 15px;
        min-width: 10px;
        color: rgb(241, 189, 136);
        font-weight:bold;
    }
  }
